################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleAngularApp/.vs
/SampleAngularApp/node_modules
/AuthApi/.vs
/AuthApi/AuthApi/bin/Debug/netcoreapp2.1
/MySecureService/.vs
/MySecureService/MySecureService/bin/Debug/netcoreapp2.1
/MySecureService/MySecureService/obj
/AuthApi/AuthApi/obj/Debug/netcoreapp2.1/AuthApi.assets.cache
*.txt
*.cache
/SampleAngularApp/SampleAngularApp/bin
/SampleAngularApp/SampleAngularApp/obj

/AuthApi/AuthApi/obj/project.assets.json
/AuthApi/AuthApi/obj/AuthApi.csproj.nuget.g.targets
/AuthApi/AuthApi/obj/AuthApi.csproj.nuget.g.props
/AuthApi/AuthApi/obj/Debug/netcoreapp2.1/AuthApi.dll
/AuthApi/AuthApi/obj/Debug/netcoreapp2.1/AuthApi.pdb
/AuthApi/AuthApi/obj/Debug/netcoreapp2.1/AuthApi.RazorAssemblyInfo.cs
/AuthApi/AuthApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AuthApi/AuthApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AuthApi/AuthApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
